    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5 ml-auto mr-auto">
            <form action="index.php?controller=User&action={action}" method="POST">

                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="id" class="">Id :</label>
                            <input type="text" id="id" name="id" value="{id}" readonly class="form-control">
                        </div>
                    </div>
                    <!--Grid column-->
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="username" class="">Username :</label>
                            <input type="text" id="username" name="username" value="{username}" class="form-control">
                        </div>
                    </div>
                    <!--Grid column-->
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="password" class="">Mot de passe :</label>
                            <input type="password" id="password" name="password" value="{password}"
                                placeholder="{messagePwd}" class="form-control">
                        </div>
                    </div>
                    <!--Grid column-->
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="lastname" class="">Nom :</label>
                            <input type="text" id="lastname" name="lastname" value="{lastname}" class="form-control">
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="firstname" class="">Prénom :</label>
                            <input type="text" id="firstname" name="firstname" value="{firstname}" class="form-control">
                        </div>
                    </div>
                    <!--Grid column-->
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="email" class="">Email :</label>
                            <input type="text" id="email" name="email" value="{email}" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="text-center text-md-left mt-3 mb-5">
                    <input class="btn btn-primary" type="submit" value="Valider">
                </div>
            </form>
        </div>
        <!--Grid column-->

    </div>